In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.DataFrame({"Name":["WsCube", "Cow", "Dog", "Cat", "Black"]})
df

     Name
0  WsCube
1     Cow
2     Dog
3     Cat
4   Black

In [8]:
le = LabelEncoder()
df["en_name"] = le.fit_transform(df[["Name"]])
df

c:\Machine Learning Course\Machine Learning\venv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     Name  en_name
0  WsCube        4
1     Cow        2
2     Dog        3
3     Cat        1
4   Black        0

In [10]:
df2 =  pd.read_csv("C:/Users/ranat/Downloads/archive/loan_data_set.csv")
df2.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [11]:
la = LabelEncoder()
df2["Property_Area"] = la.fit_transform(df2["Property_Area"])

In [16]:
df2["Property_Area"].unique()

array([2, 0, 1])