In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv("T:\Machine Learning Course\Machine Learning\DataSet\Salary_Data.csv")
df.head(3)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\ranat\AppData\Local\Temp\ipykernel_12460\785519174.py:1: SyntaxWarning: invalid escape sequence '\M'
  df = pd.read_csv("T:\Machine Learning Course\Machine Learning\DataSet\Salary_Data.csv")

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731